html{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center;
}

body{
    margin: 0
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

/*Header Section */
header{
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;

}

header ul {
    display: flex;
    text-decoration: underline;

}

header li {
    text-decoration: underline;
    list-style: none;
    flex-shrink: 2;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1em;
    align-content: center;
}

header img {
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    header li {
      font-size: .8em;
    }
  }

  @media only screen and (max-width: 504px) {
    header li {
      font-size: .7em;

    }
  }

/*Title Section*/

.image {
    background-image: url("resources/img-mission-background.jpg");
    height: 700px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-position: 50%;
    background-size: cover;
}


#mission{
    background-color: black;
    position: absolute;
    top: 35%;
    width: 95%;
    margin-left: auto;
    margin-left: auto;
}

#mission h2{
    margin-top: 15px;
    margin-bottom: 5px;
}

#mission h4{
    margin-top: 20px;
    margin-bottom: 15px;
}


/*Menu Section*/

/* .menu{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
} */

.images-container #row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.images-container #row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.images-container img{
    height: 200px;
    width: 300px;
    margin: 0px 10px 0 10px;
}

.images-container h4{
    margin-top: 10px;
}


/* Locations Section */

.locations{
    background-image: url("resources/img-locations-background.jpg");
    height: 500px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background-position: 50%;
    background-size: cover;
}

#location-container{
    display: flex;
    justify-content: center;

}

.box {

    height: 300px;
    background-color: black;
    margin: 15px 20px;
    flex-basis: 300px;
}

.box p{
    line-height: 3rem;
    flex-shrink: 1;
}

#container h2{
    margin: 0px;
    padding-top: 75px;
    padding-bottom: 0;
}

@media only screen and (max-width: 934px){
    .box{
        font-size: .75em;
        overflow: scroll;

    }

    .box p{
        line-height: 2rem;

    }
}

/*Contact Section */

.contact{
    height: 200px;
}


/*Footer Section */

footer h5 {
    text-align: left;
    padding-left: 20px;
}