html{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center;
}

body{
    margin: 0
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

/*Header Section */
header{
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;

}

header ul {
    display: flex;
    text-decoration: underline;
}

header li {
    text-decoration: underline;
    list-style: none;
    flex-shrink: 2;
    padding-right: 10px;
    padding-left: 10px;
}

header img {
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

/*Title Section*/

.image {
    background-image: url("resources/img-mission-background.jpg");
    height: 700px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#mission{
    background-color: black;
    position: absolute;
    top: 35%;
    width: 1200px
    
    
}